
// .speaker-card {
//   background-color: red;
// }

// .presta-card {
//   background-color: green;
// }

// .owner-card {
//   background-color: pink;
// }

// .desc-card {
//   background-color: blue;
// }

.inner-card {
  height: 285px;
}

.b {
  margin-right: 10px;
  padding-bottom: 15px;
}

.a {
  margin-right: 10px;
}
