.profile_pic {
  object-fit: cover;
}

::placeholder {
  font-size: 0,5em;
  line-height: 100%;
}

.h2_dashboard {
    font-size: 2,5rem;
    color: #58ad87;
}

.card-dashboard {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 12px;
  width: 60vw;
}
