.log-in-container {
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 55vh;
  padding: 10px;
  h2 {
    color: $green;
  }
  a {
    text-decoration: none;
    color: $green;
  }
}
