.main-container {
  margin: 20px 90px;
  display: flex;
  flex-wrap:wrap;
}

.mycard {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    margin: 12px;
}

.main-container {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.mycardtest {
  overflow: hidden;
  height: 150px;
  border-radius: 96px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  margin-bottom: 16px;
  background-color: white;
  break-inside: avoid-column;
  h4 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
  }
  img {
    width: 100px;
  }
}

.mycard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  text-decoration: none;
}

.card-container {
  padding: none;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;
  margin: 16px;
  // margin-top: 16px;
  // margin-left: 16px;
  // margin-bottom: 16px;
  flex-grow: 1;
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-inline-start: 0px;
    margin-bottom: none;
  }
  li {
    break-inside: avoid-column;
  }
}

.card-infos {
  padding: 16px;
}

#h1-offers {
  margin-left: 24px;
  font-family: 'Permanent Marker';
}

// @media(max-width: 992px) {
//   // .cards {
//   //   grid-template-columns: 1fr 1fr;
//   // }
// }
