<div class = "container">
  <%= render 'form', form_title: "Créer une annonce" %>
</div>


<style type="text/css">
  .content {
/*    background-image: url("../../assets/images/crowd.jpg");
*/    background-image: asset-url("crowd.jpg", image)
  }
</style>
