.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-left {
  font-family: 'Ibarra Real Nova', serif;
}

.icon-left {
  flex: 0 0 22%;
}

.search-bar {
  margin-right: 7px;
}
